
<section id="kapark" ng-controller="initIndexCtrl"  init >
	<header class="header1">
		<div class="logo-wrap">
			<img  class="logo" src="/images/logo.png" alt="商品图标">
		</div>
		<span class="header-title">互助停车</span>
		<div class="local-logo-wrap">
			<img class="local-logo" src="/images/localtionLogo.png" alt="定位">
		</div>
		<span class="local">广州市</span>
	</header>
		<div class="slider">
			<ul class="imgs-wrap">
				<a href=""><li><img src="/images/slider1.png" alt="1" class="slider-img"></li></a>
				<a href=""><li><img src="/images/slider2.png" alt="2" class="slider-img"></li></a>
				<a href=""><li><img src="/images/slider3.png" alt="3" class="slider-img"></li></a>
			</ul>
		</div>
		
		<div class="big">
			<a ui-sref="parkManege"><button class="sharepark btn"> <p class="btn-name">分享车位</p> </button></a>
			
		</div>
		<div class="big">
			<a ui-sref="queryPark"><button class="querypark btn"><p class="btn-name">查询车位</p></button></a>

		</div>
		<div class="small-wrap">
			<div class="small">
				<a ui-sref="histroy"><button class="histroy btn"> <p class="btn-name">历史记录</p></button></a>
			</div>
			<div class="small">
				<a ui-sref="wallet"><button class="wallet btn"><p class="btn-name">我的钱包</p></button></a>
			</div>
		</div>


	<footer>
		<img src="/images/app.png" alt="" class="applogo">
		<div class="appinfo">
			APP停车不再难<br>
			分享，让停车更轻松
		</div>
		<img class="shutdown"src="/images/shutdown.png" alt="">
		<button class="downloadApp">立即下载</button>
		
	</footer>

</section>
	
