
	<section id="queryPark">
		<header class="header1">
		
		<div class="logo-wrap">
		<a ui-sref="index">
			<img  class="logo" src="images/back.png" alt="返回">
			</a>
		</div>
		
		<span class="header-title">查询车位</span>
		<div class="local-logo-wrap">
			<img class="local-logo" src="images/localtionLogo.png" alt="定位">
		</div>
		<span class="local">广州市</span>
		</header>
		<div class="park-list" ng-controller="parkListCtrl">
			<ul>
				<a ng-repeat="park in parks" ui-sref="parkDetail({parkId:park.id})" >

					<li class="park-one">
						<p >
							<span class="park-name">
								{{park.name}}
							</span>
							<span class="park-leave">空位：{{park.leave}}个</span>
						</p>
						<p>
						<span class="park-address">{{park.address}}</span> <span class="park-localtion">{{park.location||'960米内'}}</span>
						</p>
					</li>
				</a>
				
					
			</ul>
		</div>

	</section>
