
	<section id="signup" ng-controller="signupCtrl">
		<header class="header3">
			
				<span class="header-title">帐号绑定</span>
				
		</header>
		<div class="phone-wrap">
			<input type="number" placeholder="请输入手机号" ng-model="username" ng-change="testPhone()" class="phone">
		</div>
		<div class="code-wrap">
			<input type="text" placeholder="请输入验证码" ng-model="vcode" ng-change="testBind()">
			<button class="code-btn"  ng-click = "getVCode()" ng-disabled="banVcode">
				获取验证码
			</button>
		</div>
		<button class="signin"  ng-click = "WXBinding()"   ng-disabled="banBinging">
			登录
		</button>
		<div class="info">
			您接下来的操作需要在互助停车服务平台注册或登录 <br>请先绑定手机号 . 多谢合作 .
		</div>
	</section>
