
	<section id="timeset" ng-controller="timesetCtrl">
		<header class="header1">
		<a ui-sref="parkManege">
		<div class="logo-wrap">
			<img  class="logo" src="/images/back.png" alt="返回">
		</div>
		</a>
		<span class="header-title">{{title}}</span>
		
		<!-- <span class="local">添加车位</span> -->
		</header>
		<div class="little-title">
			待租用车位
		</div>
		<div class="set-wrap">
			<div class="share one">
				<div class="radio {{type[0]|isSelected}}" ng-click="typeClick(0)">
					<div class="black"></div>
					<div class="spot"></div>
				</div>
				<span>单次分享</span>
				
			</div>
			<div class="share cycle">
				<div class="radio {{type[1]|isSelected}}" ng-click="typeClick(1)">
					<div class="black"></div>
					<div class="spot"></div>
				</div>
				<span>重复分享</span>
			</div>
			
			<div class="share long">
				<div class="radio {{type[2]|isSelected}}" ng-click="typeClick(2)">
					<div class="black"></div>
					<div class="spot"></div>
				</div>
				<span>长期分享</span>
			</div>

			<div class="cycle-modal {{type[1]|isPop}}">
				<div class="time" ng-click="popModal(1)">
					<span class="settime">{{cycleTime.start.hour}}:{{cycleTime.start.minute}} - {{cycleTime.end.hour}}:{{cycleTime.end.minute}}</span>
				<span>
					分享时段
				</span>
				</div>
				<div class="repeat">
					<div class="title">重复</div>
					<div class="week">
						<div class="day-wrap"><div class="one {{week[0]|isSelected}}" ng-click="weekClick(0)">一</div></div>
						<div class="day-wrap"><div class="two {{week[1]|isSelected}}" ng-click="weekClick(1)">二</div></div>
						<div class="day-wrap"><div class="three {{week[2]|isSelected}}" ng-click="weekClick(2)">三</div></div>
						<div class="day-wrap"><div class="four {{week[3]|isSelected}}" ng-click="weekClick(3)">四</div></div>
						<div class="day-wrap"><div class="fine {{week[4]|isSelected}}" ng-click="weekClick(4)">五</div></div>
						<div class="day-wrap"><div class="six {{week[5]|isSelected}}" ng-click="weekClick(5)">六</div></div>
						<div class="day-wrap"><div class="seven {{week[6]|isSelected}}" ng-click="weekClick(6)">七</div></div>
					</div>
				</div>
			</div>

			<div class="one-modal {{type[0]|isPop}}">
				<div class="time-begin">
					<span class="settime">默认当前</span>
					<span>开始时间</span>
				</div>
				<div class="time-end" ng-click="popModal(0)">
					<span class="settime">{{oneEndTime.day|numToDay}} {{oneEndTime.hour}}:{{oneEndTime.minute}}</span>
					<span>结束时间</span>
				</div>
			</div>

		</div>

		<footer>
			<button class="turnon" ng-disabled="noTurnOn" ng-click="enableMyParkDetailSchedule()">
				启用分享
			</button>
			<button class="turnoff" ng-disabled="noTurnOff" ng-click="disableMyParkDetailSchedule()">
				暂停分享
			</button>
		</footer>

		<div class="one-date-modal {{modal[0]|isPop}}">
				<div class="one-wrap">
					<div class="time-wrap">
					<select class="date" name="date" ng-model="oneEndTime.day">
						<option value="0">今天</option>
						<option value="1">明天</option>
						<option value="2">后天</option>
					</select>
					<select class="hours" name="hours" ng-model="oneEndTime.hour">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
					<select class="minute" name="minute" ng-model="oneEndTime.minute">
						<option value="00">00</option>
						<option value="15">15</option>
						<option value="30">30</option>
						<option value="45">45</option>
					</select>
					</div>
				
					<button class="enter" ng-click="hideModal(0)">确定</button>
				</div>
		</div>
		
		<div class="cycle-date-modal {{modal[1]|isPop}}">
				<div class="cycle-wrap">
					<div class="time-wrap">
						<select class="hours" name="starthours" ng-model="cycleTime.start.hour">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
					<select class="minute" name="startminute" ng-model="cycleTime.start.minute">
						<option value="00">00</option>
						<option value="15">15</option>
						<option value="30">30</option>
						<option value="45">45</option>
					</select>
					<span>至</span>
					<select class="hours" name="starthours" ng-model="cycleTime.end.hour">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
					<select class="minute" name="startminute" ng-model="cycleTime.end.minute">
						<option value="00">00</option>
						<option value="15">15</option>
						<option value="30">30</option>
						<option value="45">45</option>
					</select>
					</div>
					
					<button class="enter" ng-click="hideModal(1)">确定</button>
				</div>


		</div>


	</section>
